<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>三只蚂蚁</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/icon/favicon.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <header>
        <div class="header-area header-transparent">
            <div class="main-header header-sticky">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="menu-wrapper d-flex align-items-center justify-content-between">
                                <div class="left-content d-flex align-items-center">
                                    <div class="logo mr-30">
                                        <!-- <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a> -->
                                         <a href="index.html"><h3>三只蚂蚁</h3></a>
                                    </div>
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">                                     
                                                <li><a href="index.html">首页</a></li>
                                                <li><a href="/posts">博客</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>     
                                <!-- Button -->
                                <!-- <div class="buttons">
                                    <ul>
                                        <li class="button-header">
                                            <a href="#" class="header-btn2 border-btn2">Get Free Quote</a>
                                        </li>
                                    </ul>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <!-- Slider Area Start-->
        <div class="slider-area  ">
            <div class="single-sliders slider-height   d-flex align-items-center">
                <div class="container position-relative">
                    <div class="row align-items-center">
                        <div class="col-xl-5 col-lg-6 col-md-6">
                            <div class="hero-caption">
                                <h1>我们提供最佳的IT解决方案</h1>
                                <P>将数据科学和人工智能的力量带给每家企业。</P>
                                <a href="#service" class="btn hero-btn">我们的服务</a>
                            </div>
                        </div>
                        <!-- hero shape 2-->
                        <div class="hero-shape">
                            <img src="assets/img/hero/hero-img.png" alt="">
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <!-- Slider Area End -->
        <!-- Services Area Start -->
        <section class="categories-area section-padding" id="service">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-6 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-35">
                            <span>我们的服务</span>
                            <h2>为初创企业和大型企业提供IT解决方案</h2>
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <img src="assets/img/icon/services1.svg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">托管IT服务</a></h5>
                                <p>将数据科学和人工智能的力量带给每家企业。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <img src="assets/img/icon/services2.svg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">备份和恢复</a></h5>
                                <p>将数据科学和人工智能的力量带给每家企业。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <img src="assets/img/icon/services3.svg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">网络安全</a></h5>
                                <p>将数据科学和人工智能的力量带给每家企业。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services Area End -->
        <!-- About Area  -->
        <section class="about-area2 section-padding gray-bg ">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-5 col-lg-5 col-md-10">
                        <!-- about-img -->
                        <div class="about-img">
                            <img src="assets/img/gallery/about1.jpg" alt="">
                        </div>
                        <div class="ratting-point">
                            <div class="features-ratting">
                                <img src="assets/img/icon/notification.svg" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>新功能</h3>
                                <p>将数据科学和人工智能的力量带给每家企业。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-10">
                        <div class="about-caption mb-50">
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-50">
                                <h2>快速发展<br>您的业务</h2>
                            </div>
                            <div class="single-offers mb-20">
                                <div class="offers-cap">
                                    <img src="assets/img/icon/notification1.svg" alt="">
                                    <h3><a href="#">团队互动</a></h3>
                                    <p>将数据科学和人工智能的力量带给每家企业。</p>
                                </div>
                            </div>
                            <div class="single-offers">
                                <div class="offers-cap">
                                    <img src="assets/img/icon/notification1.svg" alt="">
                                    <h3><a href="#">提高生产力</a></h3>
                                    <p>将数据科学和人工智能的力量带给每家企业。</p>
                                </div>
                            </div>
                            <a href="#service2" class="btn mt-20">了解更多</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Area End -->
        <!--Services Area 2 -->
        <section class="services-area2 section-padding2" id="service2">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-5 col-lg-5 col-md-6 col-sm-11">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle2 mb-55">
                            <span>我们服务的行业</span>
                            <h2>为您的行业定制IT服务</h2>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-6 col-sm-11">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle2 mb-55">
                            <p>无论业务如何，都能为您提供符合行业要求的解决方案，并根据您公司的特定需求进行定制。</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-cat mb-30 text-center">
                            <div class="cat-icon">
                                <img src="assets/img/icon/stack1.svg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5><a href="#">工业 & 制造业</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-cat mb-30 text-center">
                            <div class="cat-icon">
                                <img src="assets/img/icon/stack2.svg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5><a href="#">教育 & 健康</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-cat mb-30 text-center">
                            <div class="cat-icon">
                                <img src="assets/img/icon/stack3.svg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5><a href="#">零售 & 电子商务</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-cat mb-30 text-center">
                            <div class="cat-icon">
                                <img src="assets/img/icon/stack4.svg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5><a href="#">旅游 & 酒店</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-12">
                        <div class="section-tittle section-tittle3 text-center pt-35">
                            <p>需要技术支持？ <a href="#service3">立即开始</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Services Area 2 -->
        <!-- Count Down Start -->
        <div class="count-down-area section-padding border-bottom" id="service3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-9  col-md-12">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-60">
                            <h2>您的业务合作伙伴</h2>
                            <p class="mb-55">我们了解现代市场的复杂性，并将其转化为汽车、金融、保险、制药和生命科学、房地产等领域的实际商业解决方案。</p>
                            <a href="#service4" class="border-btn">咨询报价</a>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center ">
                    <div class="col-lg-12 col-md-12">
                        <div class="count-down-wrapper">
                            <div class="row justify-content-between">
                                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                    <!-- Counter Up -->
                                    <div class="single mb-30">
                                        <div class="single-counter text-center">
                                            <span class="counter ">2500</span>
                                            <p class="">+</p>
                                        </div>
                                        <div class="pera-count  text-center">
                                            <p>我们了解现代市场的复杂性</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                    <div class="single mb-30">
                                        <!-- Counter Up -->
                                        <div class="single-counter text-center">
                                            <span class="counter ">350</span>
                                            <p class="">+</p>
                                        </div>
                                        <div class="pera-count text-center">
                                            <p>我们了解现代市场的复杂性</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                    <div class="single mb-30">
                                        <!-- Counter Up -->
                                        <div class="single-counter text-center">
                                            <span class="counter ">20</span>
                                            <p class="">+</p>
                                        </div>
                                        <div class="pera-count text-center">
                                            <p>我们了解现代市场的复杂性</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Count Down End -->
        <!-- Great Stuffs -->
        <div class="great-stuffs section-padding" id="service4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-55">
                            <h2>我们的案例</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-location mb-30">
                            <div class="location-img">
                                <img src="assets/img/gallery/stuffs1.jpg" alt="">
                                <div class="location-details text-center">
                                    <span class="location-btn"></span>
                                    <h4>启发</h4>
                                    <p>设计工作室</p>
                                    <img src="assets/img/icon/icon1.svg" alt="">
                                </div>
                            </div>
                            <h3><a href="#">更改包所有者的安全风险</a></h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-location mb-30">
                            <div class="location-img">
                                <img src="assets/img/gallery/stuffs2.jpg" alt="">
                                <div class="location-details text-center">
                                    <span class="location-btn"></span>
                                    <h4>启发</h4>
                                    <p>设计工作室</p>
                                    <img src="assets/img/icon/icon1.svg" alt="">
                                </div>
                            </div>
                            <h3><a href="#">更改包所有者的安全风险</a></h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-location mb-30">
                            <div class="location-img">
                                <img src="assets/img/gallery/stuffs3.jpg" alt="">
                                <div class="location-details text-center">
                                    <span class="location-btn"></span>
                                    <h4>启发</h4>
                                    <p>设计工作室</p>
                                    <img src="assets/img/icon/icon1.svg" alt="">
                                </div>
                            </div>
                            <h3><a href="#">更改包所有者的安全风险</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Great Stuffs End -->
        <!-- More about info -->
        <section class="collection section-img-bg2  section-over1" data-background="assets/img/gallery/section_bg01.jpg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-9">
                        <div class="single-question text-center">
                            <!-- Video icon -->
                            <div class="video-icon mb-40">
                                <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=up68UAfH0d0" data-animation="bounceIn" data-delay=".4s"><i class="fas fa-play"></i></a>
                            </div>
                            <h2 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">为初创企业和大型企业提供IT解决方案</h2>
                            <a href="#" class="white-btn wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">立即开始</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about info End -->
    </main>
    <footer>
        <div class="footer-wrapper">
            <div class="footer-area footer-padding">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-xl-4 col-lg-3 col-md-6 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <div class="single-footer-caption mb-30">
                                    <!-- logo -->
                                    <div class="footer-logo mb-35">
                                        <!-- <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a> -->
                                         <a href="index.html">三只蚂蚁</a>
                                    </div>
                                    <div class="footer-tittle">
                                        <div class="footer-pera">
                                            <p>为初创企业和大型企业提供IT解决方案</p>
                                        </div>
                                    </div>
                                    <ul class="mb-20">
                                        <!-- <li class="number"><a href="#">10 (87) 738-3940</a></li> -->
                                        <!-- <li class="number2"><a href="#">contact@it-kol.com</a></li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>导航</h4>
                                    <ul>
                                        <li><a href="/">首页</a></li>
                                        <li><a href="/posts">博客</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>服务</h4>
                                    <ul>
                                        <li><a href="#">无人机测绘</a></li>
                                        <li><a href="#">房地产</a></li>
                                        <li><a href="#">商业</a></li>
                                        <li><a href="#">建筑</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle mb-10">
                                    <h4>订阅新闻通讯</h4>
                                    <p>订阅我们的新闻通讯即可获取有关我们的服务和优惠的最新信息。</p>
                                </div>
                                <!-- Form -->
                                <div class="footer-form mb-20">
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                        method="get" class="subscribe_form relative mail_part">
                                        <input type="email" name="email" id="newsletter-form-email" placeholder="邮件地址"
                                        class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = ' 邮件地址'">
                                        <div class="form-icon">
                                            <button type="submit" name="submit" id="newsletter-submit"
                                            class="email_icon newsletter-submit button-contactForm">
                                            <i class="fas fa-arrow-right"></i>
                                        </button>
                                    </div>
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
                        </div>
                        <!-- social -->
                        <!-- <div class="footer-social">
                            <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom area -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="footer-border">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="footer-copy-right text-center">
                            <p> &copy;<script>document.write(new Date().getFullYear());</script> | <a target="_blank" href="https://www.threeant.cn/" title="三只蚂蚁">三只蚂蚁</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>
<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<!-- Jquery, Popper, Bootstrap -->
<script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="./assets/js/popper.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>

<!-- Slick , Owl-Carousel , Mobile Menu-->
<script src="./assets/js/owl.carousel.min.js"></script>
<script src="./assets/js/slick.min.js"></script>
<script src="./assets/js/jquery.slicknav.min.js"></script>

<!-- wow, popup, Nice-select, counter-up  -->
<script src="./assets/js/wow.min.js"></script>
<script src="./assets/js/jquery.magnific-popup.js"></script>
<script src="./assets/js/jquery.nice-select.min.js"></script>
<script src="./assets/js/counterup.min.js"></script>
<script src="./assets/js/waypoints.min.js"></script>

<!-- contact js -->
<script src="./assets/js/contact.js"></script>
<script src="./assets/js/jquery.form.js"></script>
<script src="./assets/js/jquery.validate.min.js"></script>
<script src="./assets/js/mail-script.js"></script>
<script src="./assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="./assets/js/plugins.js"></script>
<script src="./assets/js/main.js"></script>
</body>
</html>